Overall text cleanup

I understand that given that the doc was out there since 2019, it cumulates text that might not valid (stale) to motivate the need for a new NETCONF transport. However, parts of that text is questionable and will be a distraction. This actually starts with the abstract with mentions such as TCP or statements such as "QUIC provides useful semantics for Network management" or "difficult  environments". Likewise, no need to mention in the introduction the constrained environments as there are other more suitable solutions such as CoAP, coreconf, etc. Also, text such as the following cites RFCs that are historic since a while:

CURRENT:
   The NETCONF protocol is not bound to any particular transport
   protocol, but allows a mapping to define how it can be implemented
   over any specific protocol.  At present, some secure transport
   protocols are defined to carry NETCONF: Secure SHell(SSH)[RFC6242],
   Transport Layer Security(TLS)[RFC7589], Simple Object Access
   Protocol(SOAP)[RFC4743] and Blocks Extensible Exchange
   Protocol(BEEP)[RFC4744].
