Comments from the lsit

(1)Please remove the description of the codepoint for the various stream types in Section 4. This is not robust to new QUIC versions and is not important to the application.

(2)4.1 This is still self-contradictory:

"The messages used to exchange configuration data MUST be mapped into one or more bidirectional streams"

"Since RPC processing is serialized and ordered within a session ([RFC6241] section 4.5), a bidirectional stream MUST MUST be used for each NETCONF session"

So is it "one" (because it's serialized and ordered) or "one or more"?

BTW: s/MUST MUST/MUST

(4) 4.3 I don't understand subscription mechanics. 4.2 says all notifications are over one uni stream. 4.3. says there is one uni stream per subscription. I don't understand how the client initiates subscriptions if they don't go over the bidi stream (4.2) and all the other streams are unidirectional in the server->client direction.

(5)Section 9 still refers to a section 2.1 that doesn't exist.

(6) The draft still does not clarify that closing the bidi stream is an error.