IANA UDP port template

Dear Authors,

Before the IETF meeting, we check working group agendas for documents with IANA-related issues. Notes about this document:

https://datatracker.ietf.org/doc/html/draft-ietf-netconf-over-quic-02

Please provide the registration template from RFC 6335, Section 8.1.1 for the UDP port.

If you have any questions, just let us know. If you'd like to talk in person, you can find us next to the RFC Editor's table from Monday through Thursday. You can also request another review at any time by contacting us at [iana@iana.org](mailto:iana@iana.org).

For more information about IANA Considerations section requirements, please see

https://www.iana.org/help/protocol-registration

Best regards,

Amanda Baber
IANA Operations Manager